[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "stbl"]
	path = stbl
	url = https://github.com/wranglezone/stbl
	registered = false
[submodule "tidytuesdayR"]
	path = tidytuesdayR
	url = https://github.com/dslc-io/tidytuesdayr
